@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Cherry+Bomb+One&family=Cherry+Cream+Soda&family=Chewy&display=swap");

:root {
  /* font-size */
  --fs-sm: 14px;
  --fs-2sm: 16px;
  --fs-md: 18px;
  --fs-2md: 20px;
  --fs-lg: 22px;
  --fs-2lg: 28px;
  --fs-xl: 60px;
  --fs-2xl: 69.76px;
  --fs-3xl: 80px;
  --fs-4xl: 31.062px;
  /* font-weight */
  --fw-400: 400;
  --fw-700: 700;
  /* colours */
}
/* font-family */
.ff-balsamiq {
  font-family: "Balsamiq Sans", cursive;
}
.ff-cherryBomb {
  font-family: "Cherry Bomb One", cursive;
}
.ff-CherryCream {
  font-family: "Cherry Cream Soda", cursive;
}
.ff-chewy {
  font-family: "chewy", cursive;
}
/* font-size */
.fs_14 {
  font-size: var(--fs-sm);
}
.fs_16 {
  font-size: var(--fs-2sm);
}
.fs_18 {
  font-size: var(--fs-md);
}
.fs_20 {
  font-size: var(--fs-2md);
}
.fs_22 {
  font-size: var(--fs-lg);
}
.fs_28 {
  font-size: var(--fs-2lg);
}
.fs_60 {
  font-size: var(--fs-xl);
}
.fs_69 {
  font-size: var(--fs-2xl);
}
.fs_80 {
  font-size: var(--fs-3xl);
}
.fs_31 {
  font-size: var(--fs-4xl);
}
/* font-weight */
.fw_400 {
  font-weight: var(--fw-400);
}
.fw_700 {
  font-weight: var(--fw-700);
}
/* colours */
.orange_palat1 {
  color: #ff9300;
}
.bg-orange {
  background-color: #fcbe69;
}
.orange_shadow {
  text-shadow: 1px 1px 0px #ffd49a;
}
.orange_shadow1 {
  text-shadow: 2px 6px 0px #fb9100;
}
.orange_shadow2 {
  text-shadow: 1.3913897275924683px 1.3913897275924683px 0px #ffd49a;
}
.green_palat1 {
  color: #5ba72b;
}
.green_palat2 {
  color: #bfdf89;
}
.green_shadow {
  text-shadow: 1px 1px 0px #cffe7f;
}
.green_shadow1 {
  text-shadow: 1px 4px 0px #5ba72b;
}
.green-shadow2 {
  text-shadow: 1.3913897275924683px 1.3913897275924683px 0px #cffe7f;
}
.black_palat1 {
  color: #0d0d0d;
}
.grey_shadow1 {
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.18);
}
.grey_shadow2 {
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.18);
}
.grey_shadow3 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.grey_shadow4 {
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}
.blue_shadow {
  text-shadow: 1px 4px 0px #3d53a0;
}
.text_pink {
  color: #eec4dc;
}
.bg_blue {
  background-color: #b0e3fe;
}
.pink_shadow {
  text-shadow: 1px 4px 0px #f683c5;
}
@media (min-width: 576px) and (max-width: 768px) {
  :root {
    /* font-size */
    --fs-sm: 14px;
    --fs-2sm: 16px;
    --fs-md: 16px;
    --fs-2md: 20px;
    --fs-lg: 22px;
    --fs-2lg: 28px;
    --fs-xl: 60px;
    --fs-2xl: 69.76px;
    --fs-3xl: 75px;
    --fs-4xl: 31.062px;
  }
}
@media (max-width: 576px) {
  :root {
    /* font-size */
    --fs-sm: 14px;
    --fs-2sm: 16px;
    --fs-md: 16px;
    --fs-2md: 20px;
    --fs-lg: 22px;
    --fs-2lg: 28px;
    --fs-xl: 60px;
    --fs-2xl: 69.76px;
    --fs-3xl: 40px;
    --fs-4xl: 31.062px;
  }
}
